---
sudo: required
language: python
services:
  - docker
notifications:
  email: true
before_install:
  - sudo apt-get -qq update
install:
  - pip install ansible==2.5.2
  - pip install funcsigs
  - pip install molecule
  - pip install docker-py
  - pip install -r requirements.txt
script:
  - molecule test --all
