urllib3<2.0.0
ansible==12.0.0
ansible-compat==24.6.1
ansible-lint==6.14.2
funcsigs
molecule==25.1.0
molecule-plugins[docker]==25.8.12
pytest-testinfra==10.2.2
pytest-xdist==3.5.0
pytest-instafail==0.5.0
pytest-split==0.8.2
pytest-timeout==2.2.0
flake8==5.0.4
requests<2.32.0