ansible==2.10.7
ansible-lint==4.3.7
funcsigs
molecule==3.2.2
molecule-docker==0.3.3
pytest-testinfra==6.1.0
pytest-xdist==2.2.1
pytest-instafail==0.4.2
pytest-split==0.3.3
pytest-timeout==1.4.2
flake8
